
body {
    background-color: rgb(110,20,215);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {

}

