
body {
    background-color: rgb(135,45,240);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {

}

img {
	width: 400px,
	height: auto
}
